<table>
<tr>
	<td>ID</td>
	<td>{{ id }}</td>
</tr>
<tr>
	<td>Source URL</td>
	<td>{{ sourceurl }}</td>
</tr>
<tr>
	<td>Short URL</td>
	<td><a href="{{ short_code }}">{{ short_code }}</a></td>
</tr>
</table>